{% extends 'core/base.html' %}
<title> {% block title %} Events {% endblock %}</title>
{% block content %}
<h1>Events in {{venue}}</h1>

{% for event in event_list %}
{% if event.approved %}
<div class = "card">
<div class="card-header bg-secondary">
      <strong>{{ event.name }}</strong>      <p class="card-text"> Days till event: {{event.days_till}} day(s)</p>                        
    </div>
    <div class="card-body">
      <h5 class="card-title">Venue: {{event.venue.name}} </h5>
      <p class = "card-text"><b>Venue Website:</b> <small>{{event.venue.web}}</small></p>
      <p class="card-text"><b>Date:</b> {{event.event_date}}</p>
      <p class="card-text"><b>Occured:</b> {{event.is_past_or_future}}</p>
      <p class="card-text"><b>Manager:</b> {{event.manager}}</p>
      <p class="card-text"><b>Description:</b> {{event.description|safe|slice:":150"}}...<br><a href ="{% url 'event_detail' event.id %}">click for more</a></p>
      <p class="card-text"><b>Approved:</b> {{event.approved}}</p>
      <p class="card-text"><a href = "{% url 'event_pdf' event.id %}" style = "color:black">Download content</a></p>
               {% if user == event.manager%}
                <div class = "card-footer text-muted">
                 <a href = "{% url 'update_event' event.id %}" style = "color:black">
                   <button class = "btn btn-outline-secondary" type = "submit" style = "color:black">Update {{event.name}}</button></a>
                 <a href = "{% url 'delete_event' event.id %}" style = "color:black">
                   <button class = "btn btn-outline-danger" type = "submit" style = "color:red">Delete {{event.name}}</button></a>
               </div>
               {% endif %}
    {% else %}
    This venue has not events! 
    <a href ="{% url 'admin_approval' %}"><button class ="btn btn-secondary" style = "color:white">Go back</button></a>
    {% endif %}
</div>
{% endfor %}
</div>
{% endblock %}